[submodule "3rdparty/random"]
	path = 3rdparty/random
	url = https://github.com/effolkronium/random
[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11
